{% extends "main.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12 padding-none">
            <h1 class="inlineHeading">Developers</h1>
            {% if visibility %}
                <div class="headingButtons">
                    <button onclick="window.location.href='/developer/create'" class="btn-lg btn-success addButton">Add Developer</button>
                </div>
            {% endif %}
        </div>
        <div class="padding-none clear">
            {% with list = developers %}
            {% include "tilelist.html" %}
            {% endwith %}
        </div>
    </div>
{% endblock %}