{% extends "main.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12 padding-none"><h1>{{ developer.name }}</h1>
        <h3>Description</h3>
        <em class="description">
            {% if developer.description %}
                {{ developer.description }}
            {% else %}
                No description has been added.
            {% endif %}
        </em>
    </div></div>
    <div class="row">
        <div class="col-md-12 padding-none"><h3>Games</h3></div>
        {% with list = games %}
        {% include "tilelist.html" %}
        {% endwith %}
    </div>
{% endblock %}