{% extends "main.html" %}
{% block content %}
    <div class="row banner main">
        <div class="col-md-12 padding-none">
            <h1>Latest Games</h1>
            {% for game in latest %}
                <div class="col-md-4"><a href=""><img class="tileImage" src= {{ game.image }} /></a></div>
            {% endfor %}
        </div>
        <div class="col-md-12 padding-none">
            <h1><a href="/developers/">Developers</a></h1>
            {% for developer in developers %}
                <div class="col-md-4"><a href=""><img class="tileImage" src= {{ developer.image }} /></a></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}