{% for item in list %}
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"><div class="tileBox">
        {% if item.d_id %}
            <a href="/developer/{{ item.d_id }}/game/{{ item.id }}">
        {% else %}
            <a href="/developer/{{ item.id }}/">
        {% endif %}
        <div>
        {% if item.image %}
            <img class="tileImage" src= {{ item.image }} />
        {% else %}
            <h2>{{ item.name }}</h2>
            <em>(No image added to database.)</em>
        {% endif %}
    </div></a></div></div>
{% endfor %}